.chat-window {
  width: 70%;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height to accommodate the entire screen */
  box-sizing: border-box;
}

.chat-header {
  padding: 15px;
  background-color: #333;
  color: white;
  font-weight: bold;
}

.chat-messages {
  flex-grow: 1;
  padding: 15px;
  background-color: #f9f9f9;
  overflow-y: auto; /* Scrollable area for chat messages */
  display: flex;
  flex-direction: column;
}

.chat-message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 60%;
}

.sent {
  background-color: #dcf8c6;
  align-self: flex-end; /* Align to the right for sent messages */
}

.received {
  background-color: #ececec;
  align-self: flex-start; /* Align to the left for received messages */
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.chat-input .send-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

.chat-input .send-button:hover {
  background-color: #45a049;
}
